<table>
<tr>
  <td class="t" rowspan="2"><%= SITE_TITLE %></td>
  <td class="a">Administration Panel</td>
</tr>
<tr>
  <td class="l"><%= h SITE_TITLE %>: <%= link_to 'Homepage', 'http://railsdb.org/', :target => '_blank' %> | <%= link_to 'Docs', 'http://railsdb.org/docs/', :target => '_blank' %> | <%= link_to 'License', 'http://railsdb.org/LICENSE.txt', :target => '_blank' %></td>
</tr>
</table>
