<table>
<tr>
  <td><%= link_to "Databases", :controller => 'home', :action => 'databases' %></td>
</tr>
<tr>
  <td><%= link_to "Drivers", :controller => 'home', :action => 'drivers' %></td>
</tr>
<tr>
  <td><%= link_to "Users", :controller => 'home', :action => 'users' %></td>
</tr>
<tr>
  <td><%= link_to "Groups", :controller => 'home', :action => 'groups' %></td>
</tr>
<tr>
  <td><%= link_to "Permissions", :controller => 'home', :action => 'permissions' %></td>
</tr>
<tr>
  <td><%= link_to 'Logout', :controller => :logout %></td>
</tr>
</table>
