<table>
<tr>
  <td><%= link_to "Databases (#{ Database.count })", :controller => 'home', :action => 'databases' %></td>
</tr>
<tr>
  <td><%= link_to "Drivers (#{ Driver.count })", :controller => 'home', :action => 'drivers' %></td>
</tr>
<tr>
  <td><%= link_to "Users (#{ User.count })", :controller => 'home', :action => 'users' %></td>
</tr>
<tr>
  <td><%= link_to "Groups (#{ Group.count })", :controller => 'home', :action => 'groups' %></td>
</tr>
<tr>
  <td><%= link_to "Permissions (#{ Permission.count })", :controller => 'home', :action => 'permissions' %></td>
</tr>
<tr>
  <td><%= link_to 'Logout', :controller => :logout %></td>
</tr>
</table>
