<h2><%= link_to 'Users', :controller => 'home', :action => 'users' %> &#187; Add User</h2>

<% form_for :user do |f| -%>

<table class="form">
<thead>
<tr class="label">
  <td colspan="2">User Form</td>
</tr>
</thead>
<tbody>
<tr<%= alt %>>
  <td>First Name:</td>
  <td><%= f.text_field :fname, :size => 16 %>
    <% if @user.errors['fname'] -%>
      <span class="error"><%= @user.errors['fname'] %></span>
    <% end -%></td>
</tr>
<tr<%= alt %>>
  <td>Last Name:</td>
  <td><%= f.text_field :lname, :size => 16 %>
    <% if @user.errors['lname'] -%>
      <span class="error"><%= @user.errors['lname'] %></span>
    <% end -%></td>
</tr>
<tr<%= alt %>>
  <td>Username:</td>
  <td><%= f.text_field :username, :size => 12 %>
    <% if @user.errors['username'] -%>
      <span class="error"><%= @user.errors['username'] %></span>
    <% end -%></td>
</tr>
<tr<%= alt %>>
  <td>Email:</td>
  <td><%= f.text_field :email, :size => 24 %>
    <% if @user.errors['email'] -%>
      <span class="error"><%= @user.errors['email'] %></span>
    <% end -%></td>
</tr>
<tr<%= alt %>>
  <td>Password:</td>
  <td><%= f.password_field :password, :size => 16 %>
    <% if @user.errors['password'] -%>
      <span class="error"><%= @user.errors['password'] %></span>
    <% end -%></td>
</tr>
<tr<%= alt %>>
  <td>Confirm Password:</td>
  <td><%= f.password_field :password_confirmation, :size => 16 %>
    <% if @user.errors['password_confirmation'] -%>
      <span class="error"><%= @user.errors['password_confirmation'] %></span>
    <% end -%></td>
</tr>
</tbody>
<tfoot>
<tr class="label">
  <td colspan="2" align="right"><input type="submit" name="submit" value="Submit"></td>
</tr>
</tfoot>
</table>

<% end -%>
