<h1 style="text-align:center"><%= SITE_TITLE %></h1>
<% form_tag :controller => :login do -%>
<% if flash[:notice] -%>
<p class="error" style="text-align:center; margin: 8px 0 0 0;"><%= flash[:notice] %></p>
<% end -%>
<table class="form" style="margin: 10px auto;">
<thead>
<tr>
  <td colspan="2">Login</td>
</tr>
</thead>
<tbody>
<tr class="alt2">
  <td class="label">Username/Email:</td>
  <td><%= text_field :login, 'username', :size => 12 %></td>
</tr>
<tr class="alt2">
  <td class="label">Password:</td>
  <td><%= password_field :login, 'password', :size => 12 %></td>
</tr>
</tbody>
<tfoot>
<tr>
  <td colspan="2"><%= submit_tag 'Login', "class" => "button" %></td>
</tr>
</tfoot>
</table>
<% end -%>
