<h2><%= link_to 'Databases', :controller => :home, :action => :databases %> &#187; <%= link_to (h @database.name), :controller => :database, :id => @database %> &#187; <%= h @table.name %></h2>

<% form_tag ( {:controller => "database", :action => "export", :id => @database, :table => (h @table.name)}) do -%>

<table class="data">
<thead>  
<tr>
  <td></td>
  <td>Position</td>
  <td>Name</td>
  <td>Type</td>
  <td>Null</td>
  <td>Default</td>
  <td>Limit</td>
  <td>Scale</td>
  <td>Precision</td>
  <td colspan="2" align="right"><%= link_to 'Add Fields', { :controller => :database,
                                                            :action     => :add_fields,
                                                            :id         => @database,
                                                            :table      => (h @table.name) },
                                                          :class => 'add' %></td>
</tr>
</thead>
<tbody>
<% if @fields.size > 0 -%>
<%= render :partial => 'database/field', :collection => @fields %>
<% else -%>
<tr<%= alt %>>
  <td colspan="12">No fields found</td>
</tr>
<% end -%>
</tbody>
</table>

<h2>
<%= select_tag "format", options_for_select(["CVS", "TSV"], "CVS") %>
<%= submit_tag 'Export data' %>
<h2>
<% end -%>
